/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  margin-left: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b7c4;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292F3B;
}

@keyframes scrollUp {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  10%, 85% {
      transform: translateY(0);
      opacity: 1;
  }
  95%, 100% {
      transform: translateY(-100%);
      opacity: 0;
  }
}
.animate-scroll-up {
  animation: scrollUp 10s ease-in-out infinite;
}
